<div class="step-buttons">
    <!--<button type="button" class="prev btn btn-primary" title="Previous">
        <span class="buttonText"><span class="glyphicon glyphicon-step-backward"></span> PREV</span>
    </button>-->
    <button type="button" class="remove btn btn-primary" title="I know this!">
        <span class="buttonText hidden-xs">I know this!</span>
        <span class="glyphicon glyphicon-ok visible-xs-inline-block"></span>
    </button>
    <button type="button" class="next btn btn-info" title="Next">
        <span class="buttonText hidden-xs">NEXT</span>
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <a tabindex="0" class="btn btn-link hidden-xs" role="button" data-toggle="popover" data-trigger="focus" title="Keyboard Controls" data-html="true" data-content="<div>I KNOW THIS!:&nbsp;&nbsp;<kbd>space</kbd></div><div>NEXT:&nbsp;&nbsp;<kbd>→</kbd></div>"><span class="glyphicon glyphicon-info-sign"></span></a>
</div>

<div class="toStudy">
    <ul class="cards flip-container">
        {{#each words}}
            <li class="card flipper">
                <div class="front panel panel-link">
                    <div class="flipBody panel-body">
                        <div class="wordOrPhrase">{{word}}</div>
                    </div>
                </div>
                <div class="back panel panel-link">
                    <div class="flipBody panel-body">
                        <div class="wordOrPhrase">{{word}}</div>
                        <div class="definitions">
                            <p>
                                <b>{{def}}</b>{{#if part}},&nbsp;<i class="wordType">{{part}}</i>{{/if}}
                            </p>
                            {{#if example}}
                                <p><b>ex.</b> {{example}}</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>