<div class="home container">
    <div class="callout">
        <div class="row">
            <div class="col-md-2"><div class="headerIllustration"></div></div>
            <div class="col-md-8">
                <h2>Vocabulary Through Song</h2>
                {{#if user.id}}
                <a href="/classrooms/language/{{fromLanguage.language}}/en" class="signup btn callToAction btn-primary enter" role="button">Enter <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i></a>
                {{else}}
                <div class="selectLanguage">
                    <div class="dropdown btn-group">
                        <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" data-selected="{{fromLanguage.language}}"><span class="displayLanguage">{{fromLanguage.display}}</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {{#each supportedLanguages}}
                                <li><a href="#" data-index="{{@index}}" data-language="{{language}}"><span class="languageIcon {{language}}"></span>&nbsp;&nbsp;&nbsp;{{display}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <a href="/try_{{fromLanguage.language}}" class="signup try btn callToAction btn-primary" role="button">Try It Out!</a>
                </div>
                <!--<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or</span>
                <a href="/signup" class="signup btn callToAction btn-link">Create Account</a>-->
                {{/if}}
            </div>
            <div class="col-md-2"><div class="headerIllustration"></div></div>
        </div>
    </div>
    <div class="row highlights">
        <div class="col-md-4">
            <div class="illustrationContainer hidden-xs">
                <span class="illustration musicVideo"></span>
            </div>
            <h3>Music videos with scrolling lyrics</h3>
        </div>
        <div class="col-md-4">

            <div class="illustrationContainer hidden-xs">
                <span class="illustration vocabBuilder"></span>
            </div>
            <h3>Add words to vocabulary builder</h3>
        </div>
        <div class="col-md-4">

            <div class="illustrationContainer hidden-xs">
                <span class="illustration metrics"></span>
            </div>
            <h3>Track learning with metrics</h3>
        </div>
    </div>
</div>