<!doctype html>
<html>
    <head>
        <title>Studyokee</title>
        <link rel='shortcut icon' href='/img/favicon.ico?r=1' type='image/x-icon'/ >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
           if (window.location.hash === '#_=_') {
               window.location.hash = ''
           }
        </script>
        <script src="/bower_components/requirejs/require.js"></script>
        <script src="/lib/require-config.js"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <!--<link rel="stylesheet" href="http://basehold.it/16">-->
    </head>
    <body>
        <div class="skee" id="skee">
            <header></header>
            <div class="main"></div>
            <footer></footer>
        </div>
        <div id="data-dom" data-user-id="<%= user.id %>" data-user-admin="<%= user.admin %>" data-user-displayName="<%= user.displayName %>" data-username="<%= user.username %>" style="display:none"></div>

        <script src="<%= page %>"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-63331069-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>