<b>"{{originalTerm}}"</b>
<div>
    <h4>Definitions:</h4>
    <ul class="definitions">
        {{#each definitions}}
            <li>
                <span>{{#each definition}}{{#if @index}},&nbsp;{{/if}}<b>{{this}}</b>{{/each}}</span>,&nbsp;<i class="wordType">{{partOfSpeech}}</i>
                {{#if context}}
                    <div>
                        <i>{{context}}</i>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
    {{#if examples.length}}
        <h4>Examples:</h4>
        <ul class="examples">
          {{#each examples}}
            <li>
                {{this}}
            </li>
          {{/each}}
        </ul>
    {{/if}}
</div>
