<h3>Classrooms ({{data.length}})</h3>
<ul class="nav nav-pills nav-stacked col-lg-3">
    {{#each data}}
        <li data-index="{{@index}}">
            <a class="classroomLink" data-index="{{@index}}">
                <div class="title">
                    {{name}}
                </div>
                <div class="description text-muted">
                    <em>{{language}}</em>
                </div>
            </a>
            <button type="button" class="remove styClose close" title="Delete Classroom">×</button>
        </li>
    {{/each}}
</ul>