<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span class="icon"></span><span class="brandName">Studyokee</span></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            {{#if user.id}}
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown selectLanguage">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">Classrooms <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{#each classrooms}}
                            <li><a href="/classrooms/{{classroomId}}">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li class="vocabulary-link"><a href="/vocabulary/{{fromLanguage}}/{{toLanguage}}" class="vocabulary">Vocabulary <span class="badge" {{#unless vocabularyCount}}style="display:none;"{{/unless}}>{{vocabularyCount}}</span></a></li>
            </ul>
            {{/if}}
            <ul class="nav navbar-nav navbar-right">
                {{#if user.id}}
                <li class="hidden-xs">
                    <a tabindex="0" class="btn btn-link userInfoDrawer" role="button" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="focus" data-content="<div class='form-group'><label for='displayName'>Name</label><input type='text' class='form-control' id='displayName' value='{{ user.displayName }}'></div><div class='form-group'><label for='username'>User Name</label><input type='text' class='form-control' id='username' value='{{ user.username }}'></div><div class='form-group'><label for='password'>Change Password</label><input type='text' class='form-control' id='password' placeholder='New password' autocomplete='off'></div><button type='button' class='updateUser'>Update</button><button type='button' class='closeUpdateUser'>Close</button>">Hello, {{#if user.displayName }}{{ user.displayName }}{{else}}{{ user.username }}{{/if}}</a>
                </li>
                <li>
                    <a href="/logout" class="logout">Log Out</a>
                </li>
                {{else}}
                <li>
                    <a href="/login" class="login link">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    <div class="headerBottom"></div>
</div>
