<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span class="icon"></span><span class="brandName">Studyokee</span></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown selectLanguage">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">Classrooms <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{#each classrooms}}
                            <li><a href="/classrooms/{{classroomId}}">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li class="vocabulary-link"><a href="/vocabulary/{{fromLanguage}}/{{toLanguage}}" class="vocabulary">Vocabulary <span class="badge" {{#unless vocabularyCount}}style="display:none;"{{/unless}}>{{vocabularyCount}}</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if user.id}}
                <li class="hidden-xs">
                    <a tabindex="0" class="btn btn-link" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="User Info" data-html="true" data-content="<div>Username:&nbsp;&nbsp;{{ user.username }}</div>">Hello, {{#if user.firstName }}{{ user.firstName }}{{else}}{{ user.username }}{{/if}}</a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
                {{else}}
                <li>
                    <a href="/login" class="login link">Login</a>
                </li>
                <li class="connectingWord">or</li>
                <li>
                    <a href="/try" class="btnLink"><button class="btn btn-primary callToAction">Start!</button></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    <div class="headerBottom"></div>
</div>
